
.align-center { align-items: center; }
.align-end { align-items: end; }
.align-start { align-items: start; }

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-full { flex: 1; }
.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-center { justify-content: center; }
.justify-space-around { justify-content: space-around; }
.justify-space-between { justify-content: space-between; }
.justify-space-evenly { justify-content: space-evenly; }
