
// Colors
$black: #000000;
$blue: #012169;
$green: #009739;
$red: #ff0000;
$white: #ffffff;
$yellow: #fedd00;

$gray: darken($white, 10%);
$grayer: darken($white, 20%);

// Font
$bold: 600;
$thin: 100;

// Size
$body: 90vh;
$footer: 5vh;
$header: 5vh;
$sm: 1024px;
